.bouton-retour[data-v-fa74c99c]{background-color:#007bff;color:#fff;border:none;padding:10px 20px;cursor:pointer;border-radius:5px;font-size:16px}.bouton-retour[data-v-fa74c99c]:hover{background-color:#0056b3}
